@page "/resume"
<h1>Resume</h1>
<h2>Teerapat Kemtis</h2>
  
<hr>

<h2>Personal Information</h2>
  <ul>
    <li>Address:  26 song phrae 54120</li>
    <li>Mobile: 065-041-0035</li>
    <li>Email: 66030077@kmitl.ac.th</li>
    <li>Date of Birth: 17 November 2004</li>
    <li>Nationality: Thai</li>
  </ul>

<hr>

<h2>Skills</h2>
<ul>
    <li>Photoshop</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Javasrcipt</li>
    <li>PHP</li>
</ul>

<hr>

<h2>Work skills</h2>
  <ul>
    <li>I can understand the work quickly.</li>
  </ul>

<hr>

<h2>Education</h2>
  <p>KMITL - SIET</p>

@code {

}
